@charset "UTF-8";

:root{
    --fundo: #f0f0f0;
    --textos: #072352;
    --principais: #060E84;
    --extra: #ffffff;
    --detalhes: #2143d9;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--fundo);
    color: var(--textos);
    line-height: 1.5em;
}

header{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--principais);

    position: sticky;
    top: 0;
    z-index: 1;
}
header img{
    width: 25px;
    margin-left: 10px;
}

header ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

header a{
    text-decoration: none;
    color: var(--extra);
    font-weight: bold;
    padding: 10px;
    transition: background-color .3s;
}
header a:hover{
    background-color: var(--detalhes);
    color: var(--textos);
    border-radius: 5px;
}

main{
    display: grid;
    grid-template-columns: auto 90% auto;
    gap: 10px;
    margin-top: 20px;
}

section{
    grid-column: 2;
    background-color: var(--extra);
    border-radius: 8px;
    padding: 20px;
}

#foto{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border: 5px solid var(--extra);
    outline: 5px solid var(--principais);
}

h2{
    color: var(--principais);
    margin: 15px 0px;
    text-align: left;
    font-size: 1.5em;
}

#social{
    display: flex;
    font-size: 1.5em;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#social a{
    color: var(--principais);
    transition: color .3s;
}

#social a:hover{
    color: var(--detalhes);
}

#detalhes{
    background-color: var(--fundo);
    padding: 0px;
}

#detalhes > div{
    background-color: var(--extra);
    border-radius: 8px;
    padding: 10px 20px;
    margin: 20px 0px;
}

#skill-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.item .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info .nome{
    font-weight: bold;
}
.info .porcent{
    font-weight: bold;
    color: var(--principais);
}
.item .barra{
    background-color: var(--fundo);
    height: 8px;
    border-radius: 4px;
}
.item .progresso{
    background-color: var(--detalhes);
    height: 8px;
    border-radius: 4px;
}

#form-container{
    display: flex;
    flex-direction: column-reverse;
}
#form-container .curso{
    background-color: var(--fundo);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border-left: 7px solid var(--principais);
    transition: border-left .3s;
}
#form-container .curso:hover{
    border-left: 15px solid var(--detalhes);

}
#form-container .periodo{
    font-weight: bold;
    font-size: .8em;
}
#form-container .instituicao{
    color: var(--detalhes);
    font-size: 1.1em;
}

#projetos-container{
    display: flex;
    flex-direction: column-reverse;
}
.projeto{
    display: flex;
    flex-direction: column;
    background-color: var(--fundo);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 7px solid var(--principais);
    transition: border-left .3s;
}
.projeto img{
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.projeto .titulo{
    color: var(--detalhes);
}
.projeto:hover{
    border-left: 14px solid var(--detalhes);
}
.projeto .periodo{
    font-weight: bold;

    font-size: .8em;
}
.projeto .descricao{
    text-align: justify;
}

footer{
    text-align: center;
    background-color: var(--principais);
    color: var(--extra);
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: var(--extra);
    font-weight: bold;
    transition: color .3s;
}
footer a:hover{
    color: var(--textos);
}

@media screen and (min-width: 768px){
    main{
        grid-template-columns: auto 300px 1fr auto;
    }
    #ficha{
        grid-column: 2/3;
        height: fit-content;
        position: sticky;
        top: 65px;
        margin-bottom: 20px;
    }
    #ficha img{
        width: 90%;
    }
    #ficha p{
        text-align: left;
    }
    #detalhes{
        grid-column: 3/4;
        margin-top: -20px;
    }
    #skill-container{
        grid-template-columns: 1fr 1fr;
    }
    .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .projeto img{
        aspect-ratio: 1/1;
        width: 20%;
    }
    .projeto .projeto-info{
        width: 75%;
    }
}