@charset "UTF-8";

:root{
    --fundo: #f0f0f0;
    --textos: #072352;
    --principais: #060E84;
    --extra: #ffffff;
    --detalhes: #2143d9;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--fundo);
    color: var(--textos);
    line-height: 1.5em;
}

header{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--principais);
}

header ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

header a{
    text-decoration: none;
    color: var(--extra);
    font-weight: bold;
    padding: 10px;
    transition: background-color .3s;
}
header a:hover{
    background-color: var(--detalhes);
    color: var(--textos);
    border-radius: 5px;
}

main{
    display: grid;
    grid-template-columns: auto 90% auto;
    gap: 10px;
    margin-top: 20px;
}

section{
    grid-column: 2;
    background-color: var(--extra);
    border-radius: 8px;
    padding: 20px;
}

#foto{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border: 5px solid var(--extra);
    outline: 5px solid var(--principais);
}

h2{
    color: var(--principais);
    margin: 15px 0px;
    text-align: left;
    font-size: 1.5em;
}

#social{
    display: flex;
    font-size: 1.5em;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#social a{
    color: var(--principais);
    transition: color .3s;
}

#social a:hover{
    color: var(--detalhes);
}

#ficha > p{
    text-align: justify;
}

#detalhes{
    background-color: var(--fundo);
    padding: 0px;
}

#detalhes > div{
    background-color: var(--extra);
    border-radius: 8px;
    padding: 10px 20px;
    margin: 20px 0px;
}